/* Variables */
:root {
  --side-width: 86.46%;
  --orange: #e13125;
  --green: #089c98;
  --black: #120302;
  --white: #ecf0f1;
  --pure-white: #ffffff;
  --semi-white: #fef5ef;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 2.856em;
}
h2 {
  font-size: 2.197em;
}

h3 {
  font-size: 1.69em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.769em;
}

body {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--black);
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--green);
  text-decoration: none;
}

/* Main Styles */
.Wrapper {
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: minmax(200px, 500px) 1fr;
}

.Image {
  background: url('../img/background.jpg') no-repeat center center;
  background-size: cover;
}

.Main {
  margin-bottom: 10rem;
}

.Content {
  padding: 2rem;
  position: relative;
}

.Logo__img {
  width: 160px;
}

.Logo__caption {
  margin: 0;
}

.List {
  list-style: none;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 2rem;
}

.List__item {
  background: var(--semi-white);
  padding: 0.5rem;
  box-shadow: 2px 3px 12px -3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.List__img {
  width: 100%;
}

.Link__text {
  color: var(--dark-purple);
  margin-top: 0.5rem;
  display: block;
}

.Footer__email,
.Footer__contact {
  display: block;
}

.Footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  grid-gap: 2rem;
}

.Footer__title {
  margin: 0 0 1rem 0;
}

@media screen and (max-width: 968px) {
  .Wrapper {
    grid-template-columns: 120px 1fr;
  }
}

@media screen and (max-width: 496px) {
  body {
    font-size: 14px;
  }
  .Title {
    font-size: 2rem;
  }
  .Wrapper {
    grid-template-columns: 20px 1fr;
  }
  .Link__text {
    font-size: 14px;
  }
}
